<section class="about__page">
  <h1 class="title">
    Rick and Morty GraphQL APP
  </h1>
  <div class="about__container">
    <div class="about__paragraph">
      <p>
        Welcome to my Rick and Morty GraphQL API application. In this project
        I've learned how to extract and get data from the Rick and Morty API,
        using GraphQL, practicing and learning how to create components,
        services, interfaces and router link with Angular 11.
      </p>
      <figure class="about__img">
        <img
          src="/assets/imgs/web_dev.svg"
          alt="About"
          class="about__picture"
          rel="preload"
          as="image"
          width="386"
          height="306"
        />
      </figure>
    </div>
  </div>
  <p class="about__copy">
    Developed with ❤️ by <span class="text-white"> Miryam Bathilde </span>
  </p>
</section>
